.box1 {
  background-color: aqua;
  color: darkkhaki;
  padding: 20px;
  margin: 25px;
  border: 5px dotted black;
  height: 150px;
  box-sizing: content-box;
}

.box2 {
  background-color: aquamarine;
  color: coral;
  padding: 30px;
  margin: 40px;
  border: 2.5px solid black;
  height: 150px;
  box-sizing: border-box;
}
